<h1>Add a Product</h1>

<%= render 'form' %>

<%=link_to "Back to Products", products_url %>

<!-- <p>Add a new product</p>
<%= form_for @product do |p|%>
<p>
<%= p.label :name %><br>
<%= p.text_field :name %>
<p>
</p>
<%= p.label :description %><br>
<%= p.text_field :description %>
</p>
<p>
<%= p.label :price_in_cents %><br>
<%= p.text_field :price_in_cents%>
</p>
<p>
<%= p.submit "Save" %>
</p>
<% end %>
 -->